@using web1.Models
@model web1.Models.Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
        List<SelectListItem> categories=new List<SelectListItem>();
        categories.Add(new SelectListItem{Value="4",Text="nazwa kategori"});
        categories.Add(new SelectListItem{Value="1",Text="nazwa kategori 2"});
}

<form asp-controller="Products" asp-action="AddProduct">
    <input type="text" asp-for="ProductName">
    <select asp-for="CategoryID" asp-items="categories"></select>
    <input type="submit" value="Send form">
</form>