@{
    // Layout="_Layout2";
}
<form action="/Products/AddProduct" method="POST">
    <input type="text" name="ProductName">
    <input type="range" name="SupplierIDs">
    <input type="submit" value="Send form">
</form>