@using web1

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    
    List<Product> listaTemp=(List<Product>)ViewData["products"];
    string baseUrl="http://localhost:5000/Products/GetAllProducts";
    string sortBy="SupplierID";
    int currentPage=int.Parse(ViewData["currentpage"].ToString());
    int nextPage=currentPage+1;
    // string nextPage=@baseUrl+" "+(@currentPage+1).ToString();
    // string previous="previous page url";
}

   
        <a asp-controller="Products" asp-action="GetAllProducts" asp-route-sortBy=@sortBy asp-route-page=@int.Parse(nextPage).ToString();>
        Previos page</a>


    
<table class="table">
    <thead>
        <th><a href=@baseUrl"ProductName" class="btn">ProductName</a></th>
        <th><a href=@baseUrl"SupplierID">Supplier ID</a></th>
        <th>category id</th>
        <th>unit price</th>
    </thead>
    @foreach (Product x in listaTemp)
    {
        <tr>
            <td>
                @x.ProductName
            </td>
            <td>
                @x.SupplierID
            </td>
            <td>
                @x.CategoryID
            </td>
            <td>
                @x.UnitPrice
            </td>
        </tr>
    }
</table>

